/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. 
@font-face {
  font-family: 'Marianne';
  src: url('/font/Caroline.otf');
}*/

:root {
    --ifm-color-primary: #000091;
    --ifm-color-primary-dark: #000083;
    --ifm-color-primary-darker: #00007b;
    --ifm-color-primary-darkest: #000065;
    --ifm-color-primary-light: #0000a0;
    --ifm-color-primary-lighter: #0000a7;
    --ifm-color-primary-lightest: #0000bd;
  --ifm-code-font-size: 95%;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.1);
  --ifm-color-primary-button: white;
  --background-default-grey-hover: #f6f6f6;
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme='dark'] {
  --ifm-color-primary: #8585f6;
  --ifm-color-primary-dark: #6262f3;
  --ifm-color-primary-darker: #5050f2;
  --ifm-color-primary-darkest: #1b1bee;
  --ifm-color-primary-light: #a8a8f9;
  --ifm-color-primary-lighter: #babafa;
  --ifm-color-primary-lightest: #efeffe;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.3);
  --ifm-color-primary-button:#000091;
  --background-default-grey-hover: #343434;
}

img[src*="#printscreen"] {

  border: 1px solid black;
  box-shadow: 5px 5px 5px grey;
}

a.navbar__item:hover{
  background-color: var(--background-default-grey-hover);
}

p >a{
  border: 1px solid var(--ifm-link-color);
  padding : 0.5rem 1rem;
}

iframe, object, embed {
  max-width: 100%;
  max-height: 100%;
  display:block;
  margin: auto;
}

img[src*="#droite"] {
  float: right;
}

img[src*="#gauche"] {
  float: left;
  margin-right: 10px;
  
}



p:has(img[src*="#centrer"]) {
  text-align: center;
}

h6 {
  text-align: right;
}

.screen-reader-only {
  border: 0;
  clip: rect(0 0 0 0);
  clip-path: polygon(0 0, 0 0, 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  white-space: nowrap;
}
